<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/bs.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link id="favicon" rel="shortcut icon" href="/images/icons/favicon-32.png" sizes="16x16 32x32 48x48" type="image/png" />
  </head>
  <body>
    {{{ body }}}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  </body>
</html>
