<div class="container">
  <div id="chat-window" class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading top-bar">
        <div class="col-md-8 col-xs-8">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-comment">
            </span>
            Chateaux
          </h3>
        </div>
        
        <div style="text-align: right;" class="col-md-4 col-xs-4">
          <a href="#">
            <span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim">
            </span>
          </a>
          
          <a href="#">
            <span data-id="chat_window_1" class="glyphicon glyphicon-remove icon_close">
            </span>
          </a>
        </div>
      </div>
      
      <div id="messages-container" class="panel-body msg_container_base">
      </div>
      
      <div class="panel-footer">
        <div class="input-group">
          <input id="input-message" type="text" placeholder="Write your message here..." class="form-control input-sm chat_input">
          
          <span class="input-group-btn">
            <button id="btn-chat" class="btn btn-primary btn-sm">
              Send
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<script id="message-template" type="x-tmpl-mustache">
  <div class="row msg_container base_sent">
    <div class="col-md-10 col-xs-10">
      <div class="messages msg_sent">
        <p class="message-content">
          \{{msg}}
        </p>
        
        <time datetime="2009-11-13T20:00">
          \{{username}} &bull; 
        </time>
      </div>
    </div>
    
    <div class="col-md-2 col-xs-2 avatar">
      <img src="\{{profile-image}}" class="img-responsive">
    </div>
  </div>
</script>
<script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/js/mustache.js"></script>
<script src="/js/main.js"></script>
